{% extends "post/base.html" %}
{% load static %}
{% block content %}
    <h1>About Us</h1>


<p>
In this day and age, life is understandably hectic for many pet parents. With commitments at work, time out with friends and family, full time attention to our pets are usually not a possibility. So whether you are having late nights at work, out on a holiday or simply need a break and need pet sitting, in home boarding, daycare, dog walking or even pet training, Pet Lookout is here to connect you with other pet lovers who are ready to help you take care of your pets like it were part of their family, belly rubs and hugs included.
</p>
{% load static %}
<img src="{% static 'img/catt.jpg'%}" class= "catt" alt="">
<p>
 Pet Lookout sitters and pet service providers are normal people who love pets, just like you. They are pet people who are dedicated to put time into giving your pet a day worth barking or meowing about,  if you’ve got that sort of pet. Your pet stays in a home, free to roam and explore, rather than in the confines of a 3 foot cage typical in kennels or pet hotels. You wouldn’t want to be locked in a cage when your other half is away! Pet Lookout sitters give your pet much deserved attention while you are away. Compare that to rows and rows of pets trying to seek attention from just a few attendants in a kennel or pet shop. Some of our sitters even go to great lengths, giving your pets’ treats  and delicious home cooked food.
</p>
{% load static %}
<img src="{% static 'img/walker.png'%}" class= "walker" alt="">
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Cakes as Treats</h2>
        <p>Our furry friends bring us so much joy that we hardly need an excuse to spoil them! However when their birthday or a special holiday like Love Your Pet Day (February 20th) rolls around, many of us want to treat them to something special. That’s where these dog cake recipes comes in!

Dog cakes (or pupcakes, as some like to call them) are a tasty way to celebrate. They also make for a great photo op. Before you get started, we’ll walk you through the ingredients that are healthiest for your pup. </p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/" role="button">Go to Shop &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Joy for furry mate</h2>
        <p>Whether it’s your dog’s birthday, they just graduated from training school or you just want to treat them to a little something special, dog cakes will do the trick. While they’re enjoying their pupcake, treat yourself something special out of a personalized pet mug. Even better, take it to work to remind you of your furry friend all day. </p>
        <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/" role="button">View Shop &raquo;</a></p>
      </div>

    </div>

<div class="col-md-6">
<div class="footer-contact footer-list">
<h4>Contact Us</h4>
<ul class="list-unstyled">
<li class="address"><a href="#">Pet Lookout Inc.
No.48, Mantri Elite,  Jp nagar,
Bangalore 560076, India.</a></li>
<li class="call-us"><a href="tel:+91 91484 51003">Phone: +91 91484 51003</a>
<a href="tel:">Phone: </a></li>
<li class="mail-us"><a href="mailto:petlookout6918@gmail.com'">Email: petlookout6918@gmail.com'</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-bottom">
<div class="container">
<div class="footer-bottom-wrap">
<div class="row">
<div class="col-md-8">
<div class="copyrights">
<p>© 2020 Pet Lookout Inc.. All Rights Reserved.</p>
</div>
</div>
<div class="col-md-4">
<div class="footer-social">
<ul class="list-unstyled d-inline-flex">
<li><a href="https://www.facebook.com/AnvisInc.Pets/" target="_blank"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://twitter.com/anvisinc" target="_blank"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.instagram.com/anvisinc/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://youtube.com/anvisinc" target="_blank"><i class="fa fa-youtube"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

{% endblock content %}