    <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'><h6>Update your profile and get hired as a sitter,walker and trainer</h6>
              <ul class="list-group">
                <li class="list-group-item list-group-item-dark">Pet Cab at your Residency </li>
                <li class="list-group-item list-group-item-dark">Pet Cakes at your residency</li>
                <li class="list-group-item list-group-item-dark">BBMP License For your Pooch</li>
                <li class="list-group-item list-group-item-dark">Look at us for everything!</li>
                 <li class="list-group-item list-group-item-dark">Be a Pet Lover ,But make sure to upload your photo
                 with a pet</li>
              </ul>
            </p>


          </div>
        </div>