{% extends 'post/base.html' %}
{% block content %}
<div class="p-5">
<h1 class="myhead2">Pet Lover's Profiles </h1>
<hr>
<form class="form-inline">
<input class="form-control mr-3" placeholder="Search" value="{{ request.GET.si }}" type="text" name="si" />
<input class="btn btn-dark mr-3" type="submit" value="Search" />
</form>

<table class="table my-3">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Pet Preferred</th>
            <th>Gender</th>
            <th>Pet Lover Type</th>
            <th>Action</th>
        </tr>
    </thead>

{% for n1 in profile_list %}
    {% if n1.experience > 1 %}

        <tr>

            <td><h5>{{n1.first_name}}</h5></td>
            <td><h5>{{n1.pet_preference}}</h5></td>
            <td><h5>{{n1.gender}}</h5></td>
             <td><h5>{{n1.job_type}}</h5></td>
            <td>
            <a class="btn btn-dark btn-sm" href='/home/profile/{{n1.id}}'>View Pet Lover's Profile</a>
            </td>
        </tr>
    {% endif %}
{% endfor %}

</table>
</div>
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock %}