
{% extends 'shop/basic.html' %}


{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Pet Lookout Food</h1>
      <p>Cakes for dogs and cat</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Cakes as Treats</h2>
        <p>Our furry friends bring us so much joy that we hardly need an excuse to spoil them! However when their birthday or a special holiday like Love Your Pet Day (February 20th) rolls around, many of us want to treat them to something special. That’s where these dog cake recipes comes in!

Dog cakes (or pupcakes, as some like to call them) are a tasty way to celebrate. They also make for a great photo op. Before you get started, we’ll walk you through the ingredients that are healthiest for your pup. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Joy for furry mate</h2>
        <p>Whether it’s your dog’s birthday, they just graduated from training school or you just want to treat them to a little something special, dog cakes will do the trick. While they’re enjoying their pupcake, treat yourself something special out of a personalized pet mug. Even better, take it to work to remind you of your furry friend all day. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>

    <hr>

  </div> <!-- /container -->

</main>






{% endblock %}